<form action="/output">
  <div class="form-group">
    <label for="side1">Length of side 1</label>
    <input id="side1" name="side1" class="form-control" type="text">
    <label for="side2">Length of side 2</label>
    <input id="side2" name="side2" class="form-control" type="text">
    <label for="side3">Length of side 3</label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
